
	body {
	margin: 20px;
	}
	
	img {
	position: fixed;
	top: 410px;
	right: 50px;
	display: none;
	}
	
	
   
	p {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	text-align: justify;
	text-indent: 5%;
	padding-right: 10px;
	}
	#right {
		text-align: right;
		padding-top: 30px;
		}
	#center {
		text-align: center;
		font-weight:bold;
		padding-bottom: 15px;
		}
		
	#pay {
		text-decoration: line-through;
		}