a {
    text-decoration: none;
}

.view_screen {
    margin-left: 300px;
    height: 100vh;
    padding-left: 8%;
    padding-right: 4%;
    background: url('../images/pattern.png') no-repeat, url('../images/pattern2.png') right center no-repeat;
    background-size: auto 100%;
    min-width: 400px;

    -webkit-box-shadow: inset 28px 0px 78px -52px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 28px 0px 78px -52px rgba(0, 0, 0, 0.75);
    box-shadow: inset 28px 0px 78px -52px rgba(0, 0, 0, 0.75);
}

embed {
    width: 100%;
    height: 96%;
}


#style-2::-webkit-scrollbar-track {
    margin-top: 4%;
    height: 92%;
    margin-bottom: 4%;
    border-radius: 14px;
    background-color: #D4D4D4;
}

#style-2::-webkit-scrollbar {
    width: 8px;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#a1a1a1;
}

#style-2::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: #9cd10e;

}

.lr_div {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    padding-right: 80px;
}


.lr_div p,
.lr_div ol,
.lr_div div {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding-left: 5px;
    list-style-type: decimal;
    list-style-position: inside;

}

.lr_div li {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.lr_div table {
    margin: 20px 0;


}

.lr_div .labour_head {
    font-size: 28px;
    margin: 50px 0 70px;
    color: #000;
}

.lr_div .lr_text table {
    border-collapse: collapse;
    border: 1px solid #D3D3D3;
    width: auto;
    font-family: 'opensans-light', sans-serif;
    font-style: normal;
}

.lr_div .lr_text tr {
    border: none;

}

.lr_text .link {
    color: #82B6FF;
    text-decoration: underline;
}

.lr_div .lr_text th {
    border: 1px solid #D3D3D3;
    height: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 10px;
}

.lr_div .lr_text td {
    border-right: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
}

.lr_div .lr_text tr:hover {
    background-color: #D3D3D3;
}

.lr_div .lr_text th, td {
    padding: 5px 10px 5px 20px;
}

.lr_text .topic {
    font-weight: 600;

}

.lr_text .main_issues {
    margin-bottom: 30px;
    width: 90%;
    line-height: 1.3;
}

.lr_div .task {
    font-size: 24px;
    margin-bottom: 50px;
}

.header {
    display: table;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: center;
    height: 70px;
    line-height: 1;
    color: #000;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'neonsans-regular', sans-serif;
    font-weight: bold;
}

.head {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
}

.header a:hover {
    color: #9cd10e;
    cursor: default;
}

.stamp {
    float: right;
    margin-top: -20px;
}

.decor_head--left {
    background: url('../images/sprite.png') -12px center no-repeat;
    left: 0px;
}

.decor_head--right {
    background: url('../images/sprite.png') -1px center no-repeat;
    right: 0px;
}

.decor_head--left,
.decor_head--right {

    position: relative;
   /* -webkit-transition: left 2s, right 2s;*/

    transition: left 0.2s, right 0.2s;
    display: inline-block;
    width: 11px;
    height: 130px;

}

.header:hover .decor_head--left{
    left: -5px;
}

.header:hover .decor_head--right{
    right: -5px;
}



.sidebar {
    position: relative;
    float: left;
    width: 300px;
    height: 100%;
}

.container {
    min-height: 600px;
    position: absolute;
    /*height: 100vh;*/
    width: 100%;
    top: 0;
    left: 0;



}

.arrow {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 40px;
    width: 10px;
    height: 15px;
    background: url('../images/sprite.png') -30px -58px no-repeat;
}

.menu {
    height: 100%;
    /*min-height: 600px;*/


}

.menu a {
    color: black;
    text-decoration: none;
}

.menu li:not(.highlighted):hover .arrow{
    background: url('../images/sprite.png') -20px -58px no-repeat;

}

.menu li {
    position: relative;
    padding-left: 15%;
    padding-right: 5%;
    font-family: 'neosanspro-regular', sans-serif;
    display: block;
    cursor: pointer;
    color: black;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;

}

.menu a:hover {
    cursor: default;

}

.menu li:not(.highlighted):hover {
    background-color: #f2fadd;
    font-family: 'neosanspro-medium', sans-serif;
}

.menu li:not(.highlighted):hover a {
    color: #009200;
}

.menu li a {
    line-height: 50px;
}

.highlighted {
    background-color: #9cd10e;

}

.menu .highlighted a {
    color: #fff;
}

.menu .usual a {
    color: #000;
}

.menu li:hover {
    cursor: default;
}

.dopmat {
    margin-top: 40px;
    height: 2%;
    box-sizing: border-box;
    padding-left: 15%;

    width: 100%;



}

.dopmat a {
    color: #ABABAB;
    font-size: 18px;


}

/*iframe {
	width: 100%;
	height: 500px;
  white-space: normal;
  padding: 0;
  border: none;
}*/

.tabsContent {
    display: none;
}

a.active {
    color: #fff;
}

.tabsContent.active {
    display: inline-block;
    width: 75%;
    height: 80%;
}

.docDiv {
    position: relative;

    margin-top: 60px;
    margin-bottom: 60px;
    height: 55px;
    width: 190px;
    margin-left: 0;

    border-color: #83D300;
    border-style: solid;
    border-width: 2px;

    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.icon_download {

    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../images/sprite.png') -20px -29px no-repeat;
    margin-left: 10px;
    margin-top: 10px;

}

.docDiv:hover .icon_download{
    background: url('../images/sprite.png') -20px 0 no-repeat;
}

.docDiv:hover {
    background-color: #83D300;

}

.docDiv:hover a{
    color: #fff;
}

.doc {
    color: #83D300;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 50px;
    padding-left: 25px;
}

#first_iframe {
    height: 100%;
}


.img_container{
    overflow: hidden;
}
.flex-img .img_container{
    margin:10px;
    padding:0px;
    box-sizing: content-box;
    width:260px;
    border: 3px solid #83D300;
    border-radius: 4px;
    box-shadow: 8px 6px 12px 0px #000000;
}

.flex-img .img_container:hover{
   border:3px solid #009200;
   box-shadow: 10px 8px 12px 0px #000000;
}

.flex-img {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1.labour_head{
    text-align: center;
}

@media (min-width:1203px){
    .flex-img{
        flex-direction: row;
    }
}